/* CSS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.header {
    background-color: #fdfdfd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
    filter: grayscale(100%);
}

.search-bar {
    max-width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin-right: 4px;
    background-color: transparent;
    color: #000000;
}

.search-bar button {
    background-color: #222222;
    color: #ffffff;
    border: none;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 18px;
}

.search-bar:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-bar:hover {
    background-color: #222222;
    color: #ffffff;
}

.search-bar:hover input[type="text"] {
    color: #ffffff;
}

.search-results {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.result {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.result.enlarge {
    transform: scale(1.1);
    z-index: 1;
    position: relative;
}

.result:not(.enlarge) {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.result:hover:not(.enlarge) {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.search-results {
    position: relative;
}

.return-button {
    position: relative;
    top: -7px;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.return-button button {
    background-color: #222222;
    color: #ffffff;
    border: none;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 18px;
    transition: transform 0.3s ease;
}

.return-button button:hover {
    transform: scale(1.1);
}