/* CSS */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

.header {
    background-color: #fdfdfd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    height: 100px;
    margin-right: 10px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.logo img:hover {
    animation: glow 1s infinite alternate;
    filter: brightness(150%) drop-shadow(0 0 10px #293F4D);
}

@keyframes glow {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(150%) drop-shadow(0 0 10px #293F4D);
    }
}

.search-bar {
    max-width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    margin-right: 4px;
    background-color: transparent;
    color: #000000;
}

.search-bar button {
    background-color: #222222;
    color: #ffffff;
    border: none;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 18px;
}

.search-bar:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-bar:hover {
    background-color: #222222;
    color: #ffffff;
}

.search-bar:hover input[type="text"] {
    color: #ffffff;
}

.search-results {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.result {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    animation: fadeIn 0.5s ease forwards; /* Add fade-in animation */
}
.result {
    /* Rest of your styles */
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s ease; /* Add transition for opacity */
}

.show {
    opacity: 1; /* Set opacity to 1 to trigger the animation */
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.result.enlarge {
    transform: scale(1.1);
    z-index: 1;
    width: 80%;
    position: relative;
    pointer-events: none;
}

.result:not(.enlarge) {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.result:hover:not(.enlarge) {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-results {
    position: relative;
}

.return-button {
    position: relative;
    top: -8px;
    bottom: 5px;
    left: -10px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.return-button button {
    background-color: #222222;
    color: #ffffff;
    border: none;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 18px;
    transition: transform 0.3s ease;
}

.return-button button:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #f1f1f1;
    color: #050505;
    text-align: left;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
