<!DOCTYPE html>
<html>
<head>
    <title>Touchit!</title>
    <link rel="icon" href="../static/img/logo.png" th:src="@{/img/logo.png}">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <script>
        function showDescription(resultId) {
            var results = document.getElementsByClassName("result");
            for (var i = 0; i < results.length; i++) {
                var result = results[i];
                if (result.id !== resultId) {
                    result.style.display = "none";
                }
                else {
                    result.getAttribute("onclick");
                    result.removeAttribute("onclick");
                }
            }

            var description = document.getElementById(resultId + "-description");
            description.style.display = "block";

            var returnButton = document.getElementById("return-button");
            returnButton.style.display = "block";

            var clickedResult = document.getElementById(resultId);
            clickedResult.classList.add("enlarge");
        }

        function returnToResults(resultId) {
            var results = document.getElementsByClassName("result");
            for (var i = 0; i < results.length; i++) {
                results[i].style.display = "block";
                results[i].setAttribute("onclick", "showDescription('" + results[i].id + "')");
            }

            var descriptions = document.getElementsByClassName("description");
            for (var i = 0; i < descriptions.length; i++) {
                descriptions[i].style.display = "none";
            }

            var returnButton = document.getElementById("return-button");
            returnButton.style.display = "none";

            var enlargedResult = document.getElementsByClassName("enlarge");
            if (enlargedResult.length > 0) {
                enlargedResult[0].classList.remove("enlarge");
            }
        }
    </script>
</head>
<body>
<div class="header">
    <a th:href="@{/}" href="/Touchit/templates/main.html?_ijt=8nv4k5sgt2rormobgmivm23if0&_ij_reload=RELOAD_ON_SAVE" class="logo">
        <img th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="Company Logo">
    </a>
</div>

<div class="search-bar">
    <input type="text" placeholder="Search Products">
    <button type="submit">Search</button>
</div>

<div class="search-results">
    <div id="return-button" class="return-button" onclick="returnToResults('result1')" style="display: none;">
        <button class="return-button">Go Back</button>
    </div>
    <div class="result" id="result1" onclick="showDescription('result1')">

        <h3>Search Result 1</h3>
        <p>Description of the search result goes here.</p>
        <p id="result1-description" class="description" style="display: none;">Description of the product goes here.</p>
    </div>
    <div class="result" id="result2" onclick="showDescription('result2')">
        <h3>Search Result 2</h3>
        <p>Description of the search result goes here.</p>
        <p id="result2-description" class="description" style="display: none;">Description of the product goes here.</p>

    </div>
    <div class="result" id="result3" onclick="showDescription('result3')">
        <h3>Search Result 3</h3>
        <p>Description of the search result goes here.</p>
        <p id="result3-description" class="description" style="display: none;">Description of the product goes here.</p>
    </div>
</div>

<footer class="footer">
    <p>&copy; Touchit!. All rights reserved.</p>
</footer>

</body>
</html>
