<!DOCTYPE html>
<html>
<head>
    <title>Touchit!</title>
    <link rel="icon" href="../static/img/logo.png" th:src="@{/img/logo.png}">
    <link rel="stylesheet" type="text/css" href="../static/main.css" th:href="@{/main.css}">
    <script src="../static/main.js" defer></script>
</head>
<body onload="animateSearchResults()">
<div class="header">
    <a th:href="@{/}" href="/Touchit/templates/main.html?_ijt=8nv4k5sgt2rormobgmivm23if0&_ij_reload=RELOAD_ON_SAVE" class="logo">
        <img th:src="@{/img/logo.png}" src="../static/img/logo.png" alt="Company Logo">
    </a>
    <a href="profile.html?_ijt=4ugeebq784iuj0khd35jk1s02t&_ij_reload=RELOAD_ON_SAVE" th:href="@{/profiles}">
        <img src="../static/img/profile-picture.png" th:src="@{/img/profile-picture.png}" alt="Profile Picture" class="profile-picture">
    </a>
</div>

<label>
    <div class="search-bar">
            <input type="text" placeholder="Search Products">
    </div>
</label>

<div class="search-results">
    <div id="return-button" class="return-button" onclick="returnToResults('result1')" style="display: none;">
        <button class="return-button">Go Back</button>
    </div>
    <div class="result" id="result1" onclick="showDescription('result1')">
        <img src="../static/img/product1.jpg" th:src="@{/img/product1.png}" alt="Product 1" class="result-image">
        <h3>Search Result 1</h3>
        <p>Description of the search result goes here.</p>
        <p id="result1-description" class="description" style="display: none;">Description of the product goes here.</p>
    </div>
    <div class="result" id="result2" onclick="showDescription('result2')">
        <img src="../static/img/product2.jpg" th:src="@{/img/product2.png}" alt="Product 2" class="result-image">
        <h3>Search Result 2</h3>
        <p>Description of the search result goes here.</p>
        <p id="result2-description" class="description" style="display: none;">Description of the product goes here.</p>

    </div>
    <div class="result" id="result3" onclick="showDescription('result3')">
        <img src="../static/img/product3.jpg" th:src="@{/img/product3.png}" alt="Product 3" class="result-image">
        <h3>Search Result 3</h3>
        <p>Description of the search result goes here.</p>
        <p id="result3-description" class="description" style="display: none;">Description of the product goes here.</p>
    </div>
</div>

<div id="no-results-message" class="no-results-message" style="display: none;">
    No results found.
</div>

<footer class="footer">
    <p>&copy; Touchit!. All rights reserved.</p>
    <div class="dark-mode-toggle">
        <div class="toggle-message">Dark Mode</div>
        <input type="checkbox" id="darkModeToggle" class="toggle-checkbox">
        <label for="darkModeToggle" class="toggle-label"></label>
    </div>
</footer>

</body>
</html>
